<%- include('../partials/header') %>

<section class="card center">
  <h1>Erreur</h1>
  <p><%= error %></p>
  <a href="/" class="btn">Retour à l'accueil</a>
</section>

<%- include('../partials/footer') %>